.idea
.gradle/
/build/
/out/
/microservice/build
/microservice/out
/rules-interpreter/build
/rules-interpreter/out
/microservice/build/**/.
/microservice/out/**/.
/rules-interpreter/build/**/.
/rules-interpreter/out/**/.
**/*
